@import 'src/scss/variables';
.header{
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 100px 0 100px;
  background-color: #e4f3e7;

  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    &__button{
      position: relative;
      background-color: transparent;
      box-sizing: border-box;
      padding: 0;
      border: none;
      height: 40px;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      gap:15px;

      &__image{
        object-fit: contain;
        width: 20px;
        height: 20px;
      }
      &__counter{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 20px;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 10px;
        color: #fff;
        background-color: red;
        border-radius: 50px;
      }
    }

    button:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
}
