.pop-up-block{
  position: absolute;
  right: 100px;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.height-container{
  display: flex;
}

.animation-height-handler{
  display: flex;
}
