@import "src/scss/variables";
.pop-up-block{
  position: absolute;
  right: 100px;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  @media (max-width: $mobile-width) {
    position: static;
  }
}

.height-container{
  display: flex;
}

.animation-height-handler{
  display: flex;
}
