@import 'src/scss/variables';
.content{
  display: flex;
  height: calc(100% - #{$header-height});
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
